@page "/addKamyon"
@using BlazorWASM_GeotekProject.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>Yeni Kamyon Ekle</h3>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PlakaInput">Plaka</label>
                <input id="PlakaInput" class="form-control" @bind="newKamyon.Plaka" />
            </div>
            <div class="form-group">
                <label for="HammaddeInput">Hammadde</label>
                <input id="HammaddeInput" class="form-control" @bind="newKamyon.Hammadde" />
            </div>
            <div class="form-group">
                <label for="MiktarInput">Miktar</label>
                <input id="MiktarInput" class="form-control" type="number" @bind="newKamyon.Miktar" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="AddKamyonInfo" value="Kaydet" />
                <input type="button" class="btn btn-danger" @onclick="Cancel" value="İptal" />
            </div>
        </div>
    </div>
</form>

@code {
    private Kamyon newKamyon = new Kamyon();


    protected override void OnInitialized()
    {
        newKamyon.Id = Guid.NewGuid();
        newKamyon.CreatedDate = DateTime.Now;
    }

    private async Task AddKamyonInfo()
    {
        await Http.PostAsJsonAsync("http://localhost:5129/api/Kamyons/CreateKamyon", newKamyon);
        await JSRuntime.InvokeVoidAsync("alert", "Kayıt Başarılı");
        NavigationManager.NavigateTo("/kamyonList");
       
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/kamyonList");
    }
}
