@page "/addKantar"
@using BlazorWASM_GeotekProject.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>Yeni Kantar Kaydı Ekle</h3>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="KamyonKgInput">Kamyon Ağırlığı (Kg)</label>
                <input id="KamyonKgInput" class="form-control" type="number" @bind="newKantar.KamyonKg" />
            </div>
            <div class="form-group">
                <label for="OnayDurumInput">Onay Durumu</label>
                <select id="OnayDurumInput" class="form-control" @onchange="(e) => newKantar.OnayDurum = Convert.ToBoolean(e.Value)">
                    <option value="true">Onaylı</option>
                    <option value="false">Onaysız</option>
                </select>
            </div>
            <div class="form-group">
                <label for="PlakaInput">Kamyon Plaka</label>
                <input id="PlakaInput" class="form-control" @bind="newKantar.Plaka" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="AddKantarInfo" value="Kaydet" />
                <input type="button" class="btn btn-danger" @onclick="Cancel" value="İptal" />
            </div>
        </div>
    </div>
</form>

@code {
    private Kantar newKantar = new Kantar();
    private Kamyon[] kamyonList;

    protected override async Task OnInitializedAsync()
    {
        kamyonList = await Http.GetFromJsonAsync<Kamyon[]>("http://localhost:5129/api/Kamyons/GetAllKamyon");
        newKantar.Id = Guid.NewGuid();
        newKantar.CreatedDate = DateTime.Now;
    }

    private async Task AddKantarInfo()
    {
        var selectedKamyon = kamyonList.FirstOrDefault(k => k.Plaka == newKantar.Plaka);
        if (selectedKamyon != null)
        {
            newKantar.KamyonId = selectedKamyon.Id;
            await Http.PostAsJsonAsync("http://localhost:5129/api/Kantars/CreateKantar", newKantar);
            await JSRuntime.InvokeVoidAsync("alert", "Kayıt Başarılı");
            NavigationManager.NavigateTo("/kantarList");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Kamyon bulunamadı, lütfen geçerli bir plaka girin.");
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/kantarList");
    }
}

