@page "/editproduct/{id}"
@using BlazorWASM_GeotekProject.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Edit Product</h3>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ProdId" class="control-label">Product ID</label>
                <input id="ProdId" class="form-control" @bind="product.ProdId" readonly />
            </div>
            <div class="form-group">
                <label for="ProdName" class="control-label">Product Name</label>
                <input id="ProdName" class="form-control" @bind="product.ProdName" />
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Price</label>
                <input id="Price" class="form-control" @bind="product.Price" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="UpdateProductInfo" value="Update" />
                <input type="button" class="btn btn-danger" @onclick="Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string id { get; set; }
    private Product product = new Product();

    protected override async Task OnInitializedAsync()
    {
        // Ürünü getirmek için doğru URL formatını kullanın.
        product = await Http.GetFromJsonAsync<Product>($"https://localhost:44356/api/Products/GetProduct/{id}");
    }

    private async Task UpdateProductInfo()
    {
        // Ürün güncellemesi için PUT isteği
        await Http.PutAsJsonAsync($"https://localhost:44356/api/Products/UpdateProduct/{id}", product);
        NavigationManager.NavigateTo("productList");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("productList");
    }
}
