@page "/kamyonList"
@using BlazorWASM_GeotekProject.Models
@inject HttpClient Http

<h3>Kamyon Listesi</h3>
<p>
    <a href="/addKamyon" class="btn btn-info">Yeni Kamyon Ekle</a>
</p>

@if (kamyonList == null)
{
    <p>Yükleniyor...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Plaka</th>
                <th>Hammadde</th>
                <th>Miktar</th>
                <th>Oluşturulma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kamyon in kamyonList)
            {
                <tr>
                    <td>@kamyon.Plaka</td>
                    <td>@kamyon.Hammadde</td>
                    <td>@kamyon.Miktar</td>
                    <td>@kamyon.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="/editkamyon/@kamyon.Id" class="btn btn-primary">Düzenle</a>
                        <a href="/deletekamyon/@kamyon.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Kamyon[] kamyonList;

    protected override async Task OnInitializedAsync()
    {
        await LoadKamyonData();
    }

    private async Task LoadKamyonData()
    {
        kamyonList = await Http.GetFromJsonAsync<Kamyon[]>("http://localhost:5129/api/Kamyons/GetAllKamyon");
    }
}
