@page "/editKamyon/{id}"
@attribute [StreamRendering]
@using BlazorWASM_GeotekProject.Components.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Kamyon Düzenle</h3>
<hr />
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Plaka" class="control-label">Plaka</label>
                <input id="Plaka" class="form-control" @bind="kamyon.Plaka" />
            </div>
            <div class="form-group">
                <label for="Hammadde" class="control-label">Hammadde</label>
                <input id="Hammadde" class="form-control" @bind="kamyon.Hammadde" />
            </div>
            <div class="form-group">
                <label for="Miktar" class="control-label">Miktar</label>
                <input id="Miktar" class="form-control" type="number" @bind="kamyon.Miktar" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="UpdateKamyonInfo" value="Güncelle" />
                <input type="button" class="btn btn-danger" @onclick="Cancel" value="İptal" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string id { get; set; }
    private Kamyon kamyon = new Kamyon();

    protected override async Task OnInitializedAsync()
    {
        kamyon = await Http.GetFromJsonAsync<Kamyon>($"http://localhost:5129/api/Kamyons/GetByIdKamyon?id={id}");
    }

    private async Task UpdateKamyonInfo()
    {
        await Http.PutAsJsonAsync($"http://localhost:5129/api/Kamyons/UpdateKamyon/", kamyon);
        NavigationManager.NavigateTo("/");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
